<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>{%block title%}{% endblock %}</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/styles.css')}}">
    </head>
    <body>
        <div class = "container-fluid">
            <nav class = "navbar navbar-expand-md navbar-light bg-white no-gutters">
                <a class="navbar-brand" href="index.html">
                    <img src="static/image/Asset11.svg" width = "30" height = "30" class = "d-inline-block align-top mx-1" alt = "")>
                    TEAM 30 STORYBOARD
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse" id = "navbarSupportedContent">
                    <ul class="navbar-nav ml-auto m-2">
                        <!-- <li class = "nav-item mx-3">
                            <a class = "nav-link" href="index.html"style="border-bottom-style: solid; border-color: #284fdd; color: #303033">Home</a>
                        </li>
                        <li class = "nav-item mx-3">
                            <a class = "nav-link" href="#">About</a>
                        </li> -->
                        <li class = "nav-item mx-3">
                            <a class = "nav-link" href="#">CONSULT</a>
                        </li>
                        <li class = "nav-item mx-3">
                            <a class = "nav-link" href="#">RESPECT</a>
                        </li>
                        <li class = "nav-item mx-3">
                            <a class = "nav-link" href="#">APPLES</a>
                        </li>
                        <li class = "nav-item mx-3">
                            <a class = "nav-link" href="#">MISA</a>
                        </li>
                        <!-- <li class = "nav-item dropdown mx-3">
                            <a class = "nav-link dropdown-toggle" id = "navbarDropdown" data-toggle="dropdown" href="#">Products</a>
                            <div class = "dropdown-menu">
                                <a class="dropdown-item" href="#">Bioaugmentation</a>
                                <a class="dropdown-item" href="#">Flat Sheet Ceramic Membrane Ultra Filtration</a>
                                <a class="dropdown-item" href="#">Moving Bed Biofilm Reactor</a>
                                <a class="dropdown-item" href="#">Microbubble Membrane Diffuser</a>
                                <a class="dropdown-item" href="#">Mutag Biochip 30<sup>TM</sup></a>
                                <a class="dropdown-item" href="#">Sequencing Batch Reactor</a>
                            </div>
                        </li> -->
                        <!-- <li class = "nav-item mx-3">
                            <a class = "nav-link" href="contact.html">Contact</a>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </div>
        {% block body%}
        {% endblock %}
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>