{%extends "base.html"%}
{% set active_page = id %}
{% block title %}{{title}}{%endblock%}

{%block body%} 
    <body>
        <div class = "container-fluid">
            <div class = "jumbotron jumbotron-fluid no-gutters justify-content-center my-0" style="min-height: 30vh !important;">
                <div class = "container my-auto">
                    <div class = "text-center text-dark">
                        <h1 class = "display-3">{{title}}</h1>
                        <p class="h4 jumbo-sub">pending</p>
                    </div>  
                </div>
            </div>
        </div>
    </body>
{%endblock%}