// Variable Overrides
$body-bg: #FFFFFF;
// $body-bg: #b66a6a;


$theme-colors: (
    "primary": #284fdd
);
.container-fluid  {
  padding-right:0!important;
  padding-left:0!important;
  margin-right:auto!important;
  margin-left:auto !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.max-vh-55 {
  max-height: 55vh !important;
}

.card-link {
  color: rgba(96,96,96, 1) !important;
}

.card-link:hover {
  color: #284fdd !important;
  font-weight: bold;
}

.active {
  border-bottom-style: solid;
  border-color: #284fdd;
  color: #303033;
}
// .jumbotron {
//   background-color: white;
//   background-position: center;
//   background-size: cover;
//   background-attachment: fixed;
//   min-height: 50vh !important;
//   border-top: 3px solid #dbdbdb; }

.dropdown:hover > .dropdown-menu{
    display: block !important;
    // transition: 2s ease-out!important;
    // -webkit-transition: opacity 2s ease-in !important;
    // -moz-transition: opacity 2s ease-in !important;
    // -o-transition: opacity 2s ease-in !important;
    // transition: opacity 2s ease-in !important;
    animation-name: slidenavAnimation !important;
    animation-duration:.2s !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease !important;
    animation-fill-mode: forwards !important;
  
    -webkit-animation-name: slidenavAnimation !important;
    -webkit-animation-duration:.2s !important;
    -webkit-animation-iteration-count: 1 !important;
    -webkit-animation-timing-function: ease !important;
    -webkit-animation-fill-mode: forwards !important;
  
    -moz-animation-name: slidenavAnimation !important;
    -moz-animation-duration:.2s !important;
    -moz-animation-iteration-count: 1 !important;
    -moz-animation-timing-function: ease !important;
    -moz-animation-fill-mode: forwards !important;
    visibility: visible;
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-item:hover {
  color: #4C4C4C !important;

}
.dropdown-menu:hover> .dropdown-menu {
  display:block !important;
  // visibility: visible;
}
// .dropdown {
//   visibility: hidden;
//   transition: 0.2s 1s !important;

// }

.dropdown {
  position: static !important;
}

.dropdown-menu { 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
  margin-top:-1px !important; 
  width:100% !important; 
  background-color: rgba(96,96,96, 1) !important;
  // background-color: #4C4C4C !important;
  border-radius: 0 !important;
  padding: 0 !important;
  // transition-delay: 2s !important;
  // transition: all 2s ease 3s;
  visibility: hidden;
  transition: .2s 1s !important;
}
.dropdown-item {
  color: white !important;
  font-weight: 100 !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}

.h3 {
    letter-spacing: 1px !important;
    font-size: 16pt !important;
    line-height: 20pt !important;
}
.no-gutter{
    padding: 0 !important;
    margin: 0 !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar-toggler {
    border-style: none !important;
}
body {
    overflow-x: hidden;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  z-index: 5 !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   z-index: 5 !important;

  }

 .carousel-indicators li {
  width: 5px !important;
  height: 5px !important;
  border-radius: 100% !important;
  background-color: #4C4C4C !important;
}


#second-pg img {
  width: 50%;
}

#product-img {
  max-width: 55%;
}

#product-img:hover{
  filter: brightness(1.5);
  // background-blend-mode: multiply;
  transition: 2s;
}

// #aboutUs {
//   top: 50% !important;
// }

.btn-outline-primary {
  border-radius: 15px !important;
  border-width: 2px !important;
}
.btn-primary {
  border-radius: 5px !important;
  border-width: 2px !important;
}
#explore-products {
  border-radius: 0px 5px 5px 0px;
  background-color: #595959 !important;
  font-weight: normal;
}
.m-0 {
  margin:0 !important;
}

::placeholder {
  color: #E3E3E8 !important;
  font-weight: 100 !important;

}
input:focus::placeholder {
  color: transparent !important;
}
@media (min-width: 576px){
  #korea {
    max-width: 50%;
    z-index: 5;
    float: right;
    position: relative;
    right: 0px;
    top:0px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .display-3 {
      font-size: 9vh !important;
    }
    .display-4 {
      font-size: 5.5vh !important;
      color: #284fdd !important;
    }
    #second-pg-h3 {
      font-size: 2.2vh !important;
    }
    .jumbo-sub {
      font-size: 2.4vh !important;
    }
  }
// Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    
  }
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 576px) {
    .display-3 {
      font-size: 8vh !important;
    }
    .display-4 {
      font-size: 5vh !important;
      color: #284fdd !important;
    }
    #second-pg-h3 {
      font-size: 2.2vh !important;
    }
    .jumbo-sub {
      font-size: 2.2vh !important;
    }
  }
//   between small and med devices
  @media (min-width: 576px) and (max-width: 768px) {
    .display-3 {
      font-size: 8vh !important;
    }
    .display-4 {
      font-size: 5vh !important;
      color: #284fdd !important;
    }
    #second-pg-h3 {
      font-size: 2.2vh !important;
    }

  }
//   between med and large devices
  @media (min-width: 768px) and (max-width: 992px){
    .wrapper {
      overflow: hidden;
    }

    #aboutUs {
      margin-top:10%;
      // top: 40%;
    }

  }

// .jumbotron {
//     height: 100vh;
// }
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

