{%extends "toolbase.html"%}

{%block brief_desc%}
Phylogenetic placement
{%endblock%}

{%block desc%}
Taxonomic identification can be performed using phylogenetic placement. When no reference genome is available to align the sequences, 
APPLES will accurately phylogenetically place the reads into the tree.
{%endblock%}

{%block uploads%}
<script>document.getElementById('form-param').setAttribute('action', '/apples')</script>
<div class = "form-row">
    <div class="form-group">
        <label for="file">Upload Read File</label>
        <input type = "file" name = "file"  id = "file" class = "inputFile form-control-file"/>
    </div>
</div>
<p class="px-0 mx-0">
    <a class="px-0 mx-0 jumbo-desc btn btn-link btn-md" data-toggle="collapse" href="#extraForm" role="button" aria-expanded="false" aria-controls="extraForm">
      Advanced Options <i>Optional</i>
    </a>
</p>
<div class="collapse" id="extraForm">
    <div class="card card-body">
        add form
    </div>
</div>
{%endblock%}


{%block button%}
Input Query Sequence
{%endblock%}