{%extends "toolbase.html"%}

{%block desc%}
Taxonomic identification can be performed using phylogenetic placement. When no reference genome is available to align the sequences, 
APPLES will accurately phylogenetically place the reads into the tree.
{%endblock%}

{%block uploads%}
<script>document.getElementById('form-param').setAttribute('action', '/apples')</script>
<div class = "form-row">
    <div class="form-group">
        <label for="file">Upload Read File</label>
        <input type = "file" name = "file"  id = "file" class = "inputFile form-control-file"/>
    </div>
</div>
{%endblock%}

{%block button%}
Input Query Sequence
{%endblock%}