<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>{%block title%}{% endblock %}</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://use.typekit.net/uch7mmr.css">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='scss/styles.css')}}">
    </head>
    <body>
        <div class = "container-fluid">
            <nav class = "navbar navbar-expand-md navbar-dark custom-bg no-gutters">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <!-- <img src="static/image/dna.jpg" width = "30" height = "30" class = "d-inline-block align-top mx-1" alt = "")> -->
                    Skmer
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse" id = "navbarSupportedContent">
                    <ul class="navbar-nav ml-auto m-0">
                        {% set navbar_menus = [
                            ('/', 'home', 'Home'),
                            ('#', 'flow', 'Flow Diagram'),
                            ('#', 'app', 'App'),
                            ('#', 'contact', 'Contact Us')
                            ] -%}
                        {% set tools = [
                            ('/consult', 'consult', 'CONSULT'),
                            ('/respect', 'respect', 'RESPECT'),
                            ('/apples', 'apples', 'APPLES'),
                            ('/misa', 'misa', 'MISA'),
                            ]-%}
                        {% set active_page = active_page|default('home') -%}
                        {% set active_tool = active_tool -%}
                        
                        {% for href, id, caption in navbar_menus %}
                            {% if id == "app" %}
                                <li class = "nav-item dropdown mx-3">
                                    <a class = "nav-link dropdown-toggle {% if id == active_page %} active {% endif%}" id = "navbarDropdown" data-toggle="dropdown" href="{{ href }}">
                                        {{ caption }}
                                    </a>
                                    <div class = "dropdown-menu">
                                        {% for t_href, t_id, t_caption in tools %}
                                            <a class="dropdown-item {% if t_id == active_tool %} active {% endif%}" href="{{ t_href }}">{{ t_caption }}</a>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% else %}
                                <li class = "nav-item mx-3">
                                    <a class="nav-link {% if id == active_page %} active {% endif%}" href="{{ href }}">
                                        {{ caption }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
        {% block body%}
        {% endblock %}
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
