{%extends "toolbase.html"%}

{%block brief_desc%}
Remove Contamination
{%endblock%}
{%block desc%}
External DNA originating from parasites, diet, bacteria and human contamination are 
often mixed with a supposedly single-species genome skim and are compounded by sequencing contamination. 
Use this tool to remove such contamination by filtering extraneous reads.
{%endblock%}


{%block uploads%}
<script>document.getElementById('form-param').setAttribute('action', '/cosult')</script>
<div class = "form-row">
    <div class="form-group">
        <label for="file">Upload Read File</label>
        <input type = "file" name = "file"  id = "file" class = "inputFile form-control-file"/>
    </div>
</div>
{% endblock %}

{%block optional_form%}
{%endblock%}


{%block button%}
Input Reads for Contamination Removal
{%endblock%}