{%extends "toolbase.html"%}

{%block brief_desc%}
Remove Contamination
{%endblock%}
{%block desc%}
External DNA originating from parasites, diet, bacteria and human contamination are 
often mixed with a supposedly single-species genome skim and are compounded by sequencing contamination. 
Use this tool to remove such contamination by filtering extraneous reads.
{%endblock%}


{%block uploads%}
<script>document.getElementById('form-param').setAttribute('action', '/cosult')</script>
<div class = "form-row">
    <div class="form-group">
        <label for="file">Upload Read File</label>
        <input type = "file" name = "file"  id = "file" class = "inputFile form-control-file"/>
    </div>
</div>
<p class="px-0 mx-0">
    <a class="px-0 mx-0 jumbo-desc btn btn-link btn-md" data-toggle="collapse" href="#extraForm" role="button" aria-expanded="false" aria-controls="extraForm">
      Advanced Options <i>Optional</i>
    </a>
</p>
<div class="collapse" id="extraForm">
    <div class="card card-body">
        add form
    </div>
</div>
{% endblock %}


{%block button%}
Input Reads for Contamination Removal
{%endblock%}