{%extends "base.html"%}
{% set active_page = id %}
{% block title %}Home{%endblock%}

{%block body%}
    <body>
        <div class = "container-fluid">
            <div class = "jumbotron jumbotron-fluid no-gutters d-flex align-items-center my-0 py-0" style="min-height: 35vh !important;">
                <div class = "container ml-2 my-auto">
                    <div class = "text-left text-dark">
                        <span class = "jumbo-title inline-block">What is</span>
                        <span class = "jumbo-title underline inline-block py-2" style="border-bottom: 2px solid #b6da49; margin-right: -.5em !important; margin-left: .5rem;">Skmer</span>
                        <p class="my-4 py-2 jumbo-sub">Assembly-free and alignment-free sample identification using genome skims</p>
                        <p class = "jumbo-desc">We introduce an assembly-free and alignment-free tool, Skmer, to compute genomic distances between the query and reference<br> genome skims. Skmer shows excellent accuracy in estimating distances and identifying the closest match in reference datasets.</p>
                        <a class = "pl-0 jumbo-desc btn btn-link btn-md" href="#">Learn more (download PDF)</a>
                    </div>  
                </div>
            </div>
            <div class = "container-fluid my-auto" id = "choose-pipe">
                <div class = "row justify-content-start mx-4">
                    <h1 class = "pl-2 py-2 mt-5 text-dark pipe-title">Choose a Pipeline for your Sample</h1>
                </div>
                <div class = "row my-4 d-flex justify-content-start">
                    <div class = "col-md-4 offset-md-1 d-flex align-item-center" style= "background-color: rgba(255,255,255,0.6); height: 300px; width: 220px;">
                        {% set pipeline = [
                            ('#', '1', 'Processing of Individual Query and References'),
                            ('#', '2', 'Distance Estimation'),
                            ('#', '3', 'Indication of Query'),
                            ('#', '4', 'Mixture of Analysis')
                            ] -%}
                        <ul class = "pipe-list m-0 px-0 pt-2">
                            {% for ref, num, desc in pipeline %}
                                <li class = "pipe-item my-4 px-0 d-flex align-item-around justify-content-start">
                                    <a href = "{{ref}}" class = "py-2 pl-2"id = "pipeline_list">Pipeline {{num}}</a>
                                    <span class = "pl-3 pipe_desc align-self-center">{{desc}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <div class = "container-fluid align-content-between my-auto min-vh-100" id = "products-home">
                <div class = "row h-100 justify-content-start mx-4">
                    <h1 class = "pr-2 pl-3 py-3 mt-5 text-dark app-title" id = "explore-products">FLOW DIAGRAM</h1>
                </div>
                <div class = "d-flex my-5 pb-5 pt-3 justify-content-center align-items-center">
                    <img src = "static/image/flow_chart2.png" class = "align-self-center flow_chart img-fluid" alt= "Responsive image">
                </div>
            </div>
            
            <div class = "container-fluid align-content-around flex-wrap" style = "min-height: 85vh !important;">
                <div class = "row py-3 my-3 justify-content-center align-items-start mx-auto">
                    <div class = "app col my-auto text-center text-dark app-title px-0">
                        <p class = "text-center mx-0 text-dark app-title px-0" style = "display: inline-block !important;">
                            Applications
                            <!-- <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a> -->
                            <!-- <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                            <img class = "mb-1" style = "vertical-align: middle !important;"width = "13" height = "13"/>
                            </a> -->
                            <!-- <img class = "mb-1 app-info" src = "static/image/i-icon.svg" style = "vertical-align: middle !important;"width = "13" height = "13"/> -->
                            <!-- <span class = "hide-txt">All tools can be ran independently from each other</span> -->
                            <span role = "button" class = "fa fa-info-circle info"><span class = "app-info">All tools can be ran independently from each other</span></span>
                        </p>
                    </div>
                </div>
                <div class="container my-5 pb-4">
                    <div class = "row pb-4 align-middle d-flex justify-content-center align-items-top mx-5">
                        <a href="{{ url_for('consult') }}" class= "border a-app mr-md-5 align-self-center" id = "products">
                            CONSULT<br>
                            <span class = "app-desc">Remove Contamination</span>
                        </a>
                        <a href="{{ url_for('respect') }}" class= "border a-app mx-md-5" id = "products">
                            RESPECT<br>
                            <span class = "app-desc">Estimate length, coverage <br>and repeat spectrum</span>
                        </a>
                        <a href="{{ url_for('skmer') }}" class= "border a-app ml-md-5" id = "products">
                            SKMER<br>
                            <span class = "app-desc">Compute Genomic <br>Distance</span>
                        </a>
                    </div>
                    <div class = "row mt-5 pb-4 align-middle d-flex justify-content-center align-items-top mx-3">
                        <a href="{{ url_for('apples') }}" class= "border a-app mr-md-5" id = "products">
                            APPLES<br>
                            <span class = "app-desc">Phylogenetic Placement</span>
                        </a>
                        <a href="{{ url_for('misa') }}" class= "border a-app ml-md-5" id = "products">
                            MISA <br>
                            <span class = "app-desc">Multi-Phylogenetic <br>Placement</span>
                        </a>
                    </div>
                </div>
                
            </div>

            <div class = "container-fluid border">
                <div class = "row bg-white pt-3 mx-0">
                    <div class = "col-fluid ml-2">
                        <p class = "text-dark">&copy 2020 ??. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
{% endblock %}