{%extends "base.html"%}
{% set active_page = id %}
{% block title %}Home{%endblock%}

{%block body%}
    <body>
        <div class = "container-fluid">
            <div class = "jumbotron jumbotron-fluid no-gutters d-flex align-items-center my-0" style="min-height: 43vh !important;">
                <div class = "container ml-2 my-auto">
                    <div class = "text-left text-dark">
                        <h6 class = "jumbo-title">What is Skmer</h6>
                        <p class="my-4 py-2 jumbo-sub">Assembly-free and alignment-free sample identification using genome skims</p>
                        <p class = "jumbo-desc">We introduce an assembly-free and alignment-free tool, Skmer, to compute genomic distances between the query and reference<br> genome skims. Skmer shows excellent accuracy in estimating distances and identifying the closest match in reference datasets.</p>
                        <a class = "pl-0 jumbo-desc btn btn-link btn-md" href="#">Learn more (download PDF)</a>
                    </div>  
                </div>
            </div>
            <div class = "container-fluid min-vh-50 my-auto">
                <div class = "row h-100 pt-5 pb-4 justify-content-center align-items-start mx-auto">
                    <div class = "app col my-auto text-center text-dark app-title px-0">
                        <p class = "text-center mx-0 text-dark app-title px-0" style = "display: inline-block !important;">
                            Applications
                            <img class = "mb-1"src = "static/image/i-icon.svg" style = "vertical-align: middle !important;"width = "13" height = "13"/>
                        </p>
                    </div>
                </div>
                <div class = "row mt-4 pb-4 align-middle justify-content-around align-items-top mx-3">
                    <div class = "col-md-2 col-sm-7 my-0 mx-0 h-100  px-0 no-gutters">
                        <div class = "card-block h-100 text-center">
                            <a href="{{ url_for('consult') }}" id = "products">
                                <img src="static/image/consult-icon.svg" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                            </a>
                            <div class="card-body text-center">
                                <a class = "card-link jumbo-sub" href="{{ url_for('consult') }}">CONSULT</a>
                                <p class="card-text mt-1">Remove Contamination</p>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('respect') }}" id = "products">
                        <img src="static/image/arrow.svg" class="img-fluid mt-5 pt-4 mx-0" title = "Run CONSULT & RESPECT" width = "10" height = "10" id = "arrow" alt="Responsive image">
                    </a>
                    <div class = "col-md-2 col-sm-7 my-0 mx-0 h-100 px-0 no-gutters">
                        <div class = "card-block text-center">
                            <a href="{{ url_for('respect') }}" id = "products">
                                <img src="static/image/respect-icon.svg" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                            </a>
                            <div class="card-body text-center">
                                <a class = "card-link jumbo-sub" href="{{ url_for('respect') }}">RESPECT</a>
                                <p class="card-text mt-1">Estimate length, coverage<br>and repeat spectrum</p>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('respect') }}" id = "products">
                        <img src="static/image/arrow.svg" class="img-fluid mt-5 pt-4 mx-0" title = "Run RESPECT & APPLES" width = "10" height = "10" id = "arrow" alt="Responsive image">
                    </a>
                    <div class = "col-md-2 col-sm-7 my-0 mx-0 h-100 px-0 no-gutters">
                        <div class = "card-block text-center">
                            <a href="{{ url_for('apples') }}" id = "products">
                                <img src="static/image/apple-icon.svg" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                            </a>
                            <div class="card-body text-center">
                                <a class = "card-link jumbo-sub" href="{{ url_for('apples') }}">APPLES</a>
                                <p class="card-text mt-1">Phylogenetic placement</p>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('respect') }}" id = "products">
                        <img src="static/image/arrow.svg" class="img-fluid mt-5 pt-4 mx-0" title = "Run AAPLES & MISA" width = "10" height = "10" id = "arrow" alt="Responsive image">
                    </a>
                    <div class = "col-md-2 col-sm-7 my-0 mx-0 h-100 px-0 no-gutters">
                        <div class = "card-block text-center">
                            <a href="{{ url_for('misa') }}" id = "products">
                                <img src="static/image/misa-icon.svg" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                            </a>
                            <div class="card-body text-center">
                                <a class = "card-link jumbo-sub" href="{{ url_for('misa') }}">MISA</a>
                                <p class="card-text mt-1">Phylogenetic placement</p>
                            </div>
                        </div>
                    </div>
                    <img src="static/image/line2.svg" class="img-fluid m-0 pb-5" width = "1" height = "1.5" alt="Responsive image">
                    <div class = "col-md-2 col-sm-7 my-0 mx-0 h-100 px-0 no-gutters">
                        <div class = "pt-4 mt-2 card-block text-center">
                            <a href="{{ url_for('misa') }}" id = "products">
                                <img src="static/image/runAll.svg" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                            </a>
                            <div class="card-body text-center">
                                <a class = "card-link jumbo-sub" href="{{ url_for('misa') }}">RUN ALL</a>
                                <p class="card-text">Perform all 4 applications at once</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "container-fluid my-auto min-vh-100" id = "products-home">
                <div class = "row h-100 justify-content-start mx-4">
                    <h1 class = "px-3 py-3 text-dark app-title" id = "explore-products">FLOW DIAGRAM</h1>
                </div>
                
                <!-- <div class = "row align-middle justify-content-around pt-4 mx-3">
                    <div class = "col-md-5 col-sm-12 mx-auto no-gutters">
                        <div class = "card-block text-center py-5">
                            <a href="{{url_for('consult')}}" id = "products">
                                <img src="static/image/circle.png" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                            </a>
                        </div>
                    </div>
                    <div class = "col-md-5 col-sm-12 d-flex align-items-center mx-auto no-gutters">
                        <div class = "container text-center py-5">
                            <p class = "display-4 mt-5">CONSULT</p>
                            <p class = "h5 mb-5">Clean the genome skim by filtering extraneous reads</p>
                        </div>
                    </div>
                    <div class = "col-md-5 col-sm-12 d-flex align-items-center mx-auto no-gutters">
                        <div class = "container text-center py-5">
                            <p class = "display-4 mt-5">RESPECT</p>
                            <p class = "h5 mb-5">Estimate the basic genomic parameters</p>
                        </div>
                    </div>
                    <div class = "col-md-5 col-sm-12  mx-auto no-gutters">
                        <div class = "card-block  text-center py-5">
                            <a href="{{ url_for('respect') }}" id = "products">
                                <img src="static/image/circle.png" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                            </a>
                        </div>
                    </div>
                    
                        <div class = "col-md-5 col-sm-12 mx-auto no-gutters">
                            <div class = "card-block text-center py-5">
                                <a href="{{ url_for('apples') }}" id = "products">
                                    <img src="static/image/circle.png" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                                </a>
                            </div>
                        </div>
                        <div class = "col-md-5 col-sm-12 d-flex align-items-center mx-auto no-gutters">
                            <div class = "container text-center py-5">
                                <p class = "display-4 mt-5">APPLES</p>
                                <p class = "h5 mb-5">Phylogenetically place reads without reference sequences</p>
                            </div>
                        </div>

                        <div class = "col-md-5 col-sm-12 d-flex align-items-center mx-auto no-gutters">
                            <div class = "container text-center py-5">
                                <p class = "display-4 mt-5">MISA</p>
                                <p class = "h5 mb-5">Calculate distance deconvolution and phylogenetic multi-placement</p>
                            </div>
                        </div>
                        <div class = "col-md-5 col-sm-12  mx-auto no-gutters">
                            <div class = "card-block  text-center py-5">
                                <a href="{{ url_for('misa') }}" id = "products">
                                    <img src="static/image/circle.png" class="card-img-top img-fluid" id = "product-img" alt="Responsive image">
                                </a>
                            </div>
                        </div> -->

                
            </div>
            <div class = "container-fluid border">
                <div class = "row bg-white pt-3 mx-0">
                    <div class = "col-fluid ml-2">
                        <p class = "text-dark">&copy 2020 ??. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
{% endblock %}