{%extends "toolbase.html"%}
{%block desc%}
The MISA tool will allow you to analyze mixed samples of multiple species that are hard to physically separate before sequencing,
 especially if there are no reference genomes or marker genes available. Input a genome skim from a mixture of two species into the MISA tool, 
 and it will output two placements on the reference phylogeny- one per contributing genome. 
{%endblock%}

{%block form%}
    <form class = "needs-validation" novalidate method = "POST" action = "/misa" enctype="multipart/form-data">
        <div class = "form-row">
            <div class="form-group">
                <label for="file">Upload Read File</label>
                <input type = "file" name = "file"  id = "file" class = "inputFile form-control-file"/>
            </div>
        </div>
        <div class = "form-row">
            <div class="form-group">
                <label for="getUserName">Name</label>
                <input type="text" name = "getUserName" class="form-control" id="getUserName" placeholder="Sam Smith" required>
                <div class="valid-feedback">
                Looks good!
                </div>
            </div>
        </div>
        <div class = "form-row">
            <div class="form-group">
                <label for="userEmail">Email address</label>
                <input type="email" name = "userEmail" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class = "form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>                                
    </form>
{%endblock%}

{%block button%}
Upload Mixed Sample Genome Skim
{%endblock%}