{%extends "toolbase.html"%}

{%block brief_desc%}
Phylogenetic placement
{%endblock%}

{%block desc%}
The MISA tool will allow you to analyze mixed samples of multiple species that are hard to physically separate before sequencing,
 especially if there are no reference genomes or marker genes available. Input a genome skim from a mixture of two species into the MISA tool, 
 and it will output two placements on the reference phylogeny- one per contributing genome. 
{%endblock%}

{%block uploads%}
<script>document.getElementById('form-param').setAttribute('action', '/misa')</script>
<div class = "form-row">
    <div class="form-group">
        <label for="file">Upload Read File</label>
        <input type = "file" name = "file"  id = "file" class = "inputFile form-control-file"/>
    </div>
</div>
<p class="px-0 mx-0">
    <a class="px-0 mx-0 jumbo-desc btn btn-link btn-md" data-toggle="collapse" href="#extraForm" role="button" aria-expanded="false" aria-controls="extraForm">
      Advanced Options <i>Optional</i>
    </a>
</p>
<div class="collapse" id="extraForm">
    <div class="card card-body">
        add form
    </div>
</div>
{% endblock %}

{%block button%}
Upload Mixed Sample Genome Skim
{%endblock%}