{%extends "toolbase.html"%}
{%block brief_desc%}
Estimate length, coverage and repeat spectrum
{%endblock%}

{%block desc%}
Correct estimations of genome length and coverage is crucial for computing genomic distance between species. 
Given the cleaned  up reads, RESPECT will output the estimated genomic length of the species and the repeat spectrum.
{%endblock%}

{%block content%}
{%endblock%}

{%block uploads%}
<script>document.getElementById('form-param').setAttribute('action', '/respect')</script>
<div class = "form-row">
    <div class="form-group">
        <label for="file">Upload Input Files (single/multiple/directory)</label>
        <input type="file" webkitdirectory mozdirectory name = "folder" multiple id = "file" class = "inputFile form-control-file"/>
    </div>
</div>
<div class = "form-row">
    <div class="form-group">
        <label for="file">Specify Mapping File</label>
        <input type = "file" name = "mapping-file"  id = "file" class = "inputFile form-control-file"/>
    </div>
</div>

<div class = "form-row">
    <div class="form-group">
        <label for="file">Specify Histogram Info File</label>
        <input type = "file" name = "hist-file"  id = "file" class = "inputFile form-control-file"/>
    </div>
</div>

<p class="px-0 mx-0">
    <a class="px-0 mx-0 jumbo-desc btn btn-link btn-md" data-toggle="collapse" href="#extraForm" role="button" aria-expanded="false" aria-controls="extraForm">
      Advanced Options <i>Optional</i>
    </a>
</p>
<div class="collapse" id="extraForm">
    <div class="card card-body">
        add form
    </div>
</div>
{%endblock%}
{%block button%}
Input Cleaned up Reads for Genomic Parameters
{%endblock%}