{%extends "toolbase.html"%}
{%block brief_desc%}
Compute Pairwise distance
{%endblock%}

{%block desc%}
Skmer is a fast tool for estimating distances between genomes from low-coverage sequencing reads (genome-skims), without needing any assembly or alignment step.
{%endblock%}

{%block content%}

    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            <div class="alert alert-{{ cat }}">{{ msg }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %} -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
             <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{msg}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %} 
    {% endwith %}
{%endblock%}

{%block uploads%}
<script>document.getElementById('form-param').setAttribute('action', '/skmer')</script>
<div class = "form-row">
    <div class="form-group">
        <label for="file">Upload Input Directory of genome-skims or assemblies *</label>
        <input type="file" webkitdirectory mozdirectory name = "folder" multiple id = "file" class = "inputFile form-control-file" required/>
        <div class="invalid-feedback">No selected folder</div>

    </div>
</div>


<!-- <div class = "form-row">
    <div class="form-group">
        <label for="file">Specify Histogram Info File</label>
        <input type = "file" name = "hist-file"  id = "file" class = "inputFile form-control-file"/>
    </div>
</div> -->
{%endblock%}
{%block optional_form%}
    <div class = "form-row">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="distance" name = "distance" value="dist">
            <label class="form-check-label" for="distance">Distance</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="query" name = "query" value="query">
            <label class="form-check-label" for="query">Query</label>
          </div>
    </div>
{%endblock%}

{%block button%}
Input Cleaned up Reads for Genomic Parameters
{%endblock%}