{%extends "base.html"%}
{% set active_page = "app" %}
{% set active_tool = id %}
{% block title %}{{title}}{%endblock%}

{%block body%}
<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        //   when submitted and check if test passed
          form.addEventListener('submit', function(event) {
            // if no -> prevent submission
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            // if yes -> add class "was-validated"
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();

</script>
    <body>
        <div class = "container-fluid">
            <div class="d-flex ml-3 flex-column">
                <div class = "d-flex flex-row mt-3 pb-3 align-items-center mr-3" style = "border-bottom: 1px solid #4a4951;">
                    <div class="pr-2 text-center" id = "inside_tool_title">{{title}}</div>
                    <div class="px-2 text-center" id = "inside_tool_b_Desc">{%block brief_desc%}{%endblock%}</div>
                </div>
                <div class = "d-flex flex-row">
                    <div class="pr-2 py-2 jumbo-desc" id = "inside_tool_desc" style="font-size: small;">{%block desc%}{%endblock%}</div>
                </div>
                <div class = "d-flex flex-row">
                    <a class = "py-2 px-0 jumbo-desc btn btn-link btn-md" href="#">Learn more (download PDF)</a>
                </div>
            </div>
            {%block content%}
            {%endblock%}
            <div class="d-flex m-3 flex-column">
                    <form class = "px-2 needs-validation" id="form-param" method = "POST" enctype="multipart/form-data" novalidate>
                        {%block uploads%}{%endblock%}
                        <!-- <div class = "form-row">
                            <div class="form-group">
                                <label for="getUserName">Name</label>
                                <input type="text" name = "getUserName" class="form-control" id="getUserName" placeholder="Sam Smith">
                            </div>
                        </div> -->
                        <div class = "form-row">
                            <p class="p-0 m-0">
                                <a class="px-0 mx-0 jumbo-desc btn btn-link btn-md" data-toggle="collapse" href="#extraForm" role="button" aria-expanded="false" aria-controls="extraForm">
                                    Optional Advanced Settings
                                </a>
                            </p>
                        </div>
                        <div class="m-x0 px-0 collapse" id="extraForm">
                            <div class="mx-0 px-0 card card-body">
                                {%block optional_form%}
                                {%endblock%}
                            </div>
                        </div>
                        <div class = "form-row">
                            <div class="form-group">
                                <label for="userEmail">Email Address*</label>
                                <input type="email" name = "userEmail" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <div class="invalid-feedback">
                                    Please enter a valid email address.
                                </div>
                                <small id="emailHelp" class="form-text text-muted">This might take a while to run. We'll send you an email when complete.</small>
                            </div>
                        </div>
                        <div class = "form-row">
                            <button type="submit" class="btn btn-primary text-light">Submit</button>
                        </div> 
                        
                    </form>
                    <!-- {%block form%}{%endblock%} -->
            </div>
        </div>
    </body>
{%endblock%}